future
numpy
soundfile
musdb
museval
h5py
tqdm
# torch==1.8.0
torch
torchaudio
tensorboard
sortedcontainers
youtube_dl
g2p_en==2.1.0
transformers==4.9.2 
pyctcdecode==v0.1.0
kenlm
pytube==12.1.2
pysrt==1.1.2
moviepy == 1.0.3
wordcloud==1.8.2.2